.image{
  border-radius: 20px;
  display: block;
  margin: auto;
  margin-top: 50;
  margin-bottom: 50;
  box-shadow: 4px 4px 10px rgb(218, 49, 88); 
}

.buttons{
  display: block;
  margin: auto;
}

.back-button{
  margin-bottom: 15px;
}